{% extends "layout.html.twig" %}

{% block content %} 
 {% endblock %}

{% block content %}
{% extends "layout.html.twig" %}

{% block content %}
	<section class="section_card">
		<div class="container_1">
			{% for annonce in annonces %}
				<div class="card .uk-width-1-3">
					<div class="card_header">
						<div class="card_header_hover">
							<img src="https://source.unsplash.com/600x400/?car,automobile" alt="card_image" class="card_image">
							<button class="uk-button card_button">
								<a href="#">Voir l'annonce</a>
							</button>
						</div>
					</div>
					<div class="card_body">
						<h5 class="card_title">{{ annonce.title }}</h5>
						<p class="card_description">
							{{ annonce.description }}</p>
					</div>
					<div class="card_footer">
						<div class="card_info">
							<p class="card_category">Catégorie :
							</p>
							<p class="card_user">
								{{ annonce.username }}</p>
							<p class="card_date_place">
								{{ annonce.published_date}}
								-
								{{ annonce.localisation}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
