<section>
	<div class="container">
		<h2>Contactez-nous</h2>
		<form action="" class="" method="POST">
		<label for="">Adresse email</label>
		<div style=color:red;> {{ errors.email }} </div>
			<input class="uk-input form_contact " type="text" placeholder= " {{ errors ?  errors.email  :  "Adresse mail" }} "  name="email">
			
			<div class="uk-child-width-expand@s form_contact" uk-grid>
				<input class="uk-input div2" type="text" placeholder="Prénom" name="firstname">
				{{ errors.firstname }}
				<input class="uk-input div3" type="text" placeholder="Nom" name="lastname">
				{{ errors.lastname }} 
			</div>
			<textarea class="uk-textarea form_contact" placeholder="Votre message ..." name="message"></textarea>
				{{ errors.message }}
			<div class="uk-flex uk-flex-right">
				<input type="submit" class="button-1 form_contact button_contact">				
			</div>			
		</form>
	</div>
</section>


